/*colores*/

$clrFondoUno: #000;
$clrFondoDos: rgb(216, 202, 0);
$clrTxtUno  : #000;
$clrTxtDos  : #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
    }


body {background-color: $clrFondoUno;
}

/*header*/
.header {
    display: flex;
    align-items: baseline;
    background-color: $clrFondoDos;    
    
    &__logo {
        color: $clrTxtUno;
        text-decoration: none;
        padding: 0 1em;
        font-size: 1.5em;
    }
    &__menu {
        &-sm {
            display: none;
        }
        &-md {
            display: flex;
            gap: 2em;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 36em ;
            font-size: 1.3em;
            padding: .5em;
        }
        &-link a {
            text-decoration: none;
            color: $clrTxtUno;
        }
    }
} 

/*main*/

.contDos {
    display: flex;
    width: 100%;
    &__elem {
        margin-top: auto;
        margin-bottom: auto;
        width: 100% ;
        &--titulo {
            text-align: center;
            color: $clrTxtDos;
            font-size: 4em;
        }
    }
    
}

.contTres {
    &__titulo {
        color: $clrTxtDos;
        text-align: center;
        font-size: 3em;
        padding: 1.5em;
    }
    &__elem {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        &--item {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3em;
        }
    }    
}

.card-body {
    background-color: $clrFondoDos;
    
}

.card-img-top {
    max-height: 400px;
    min-height: 300px;
    object-fit: cover;
}

/*footer*/

.footer {
    background-color: $clrFondoDos;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    
    .footer__end {
        text-align: center;
        margin-top: 20px;
        color: $clrTxtUno;
    }
        .footer__row {
        display: flex;
        
            .footer__colum {
            width: 100%;
            
            h3{
                color: $clrTxtUno;
                margin-left: 1em;
            }
                ul li {
                    font-size: 1em;
                    text-transform: capitalize;
                    color: $clrFondoUno;
                    font-weight: 300;
                    margin-top: .5em;
                    color: $clrTxtUno;
                    a{
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $clrTxtUno ;
                    align-items: baseline;
                    }
                    a:hover{
                        color: $clrTxtUno;
                        padding-left: 0.5em;
                        transition: all 0.3s ease;
                    }
                }
            }
    }
    @media only screen and (max-width: 800px) {
    .footer__row{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 50% 50%;
    
    }
    }
    @media only screen and (max-width: 500px) {
        .footer__row{
            display: flex;
            flex-direction: column;
            }
        }
    }

